*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif, Arial;
    text-decoration: none;
}


// html , body , #app{
//   height: 100%;
//   margin: 0;
// }
